{:duct.profile/base
 {:duct.core/project-ns flights-api
  :flights-api.handler.v1.systems/ping {}
  :flights-api.handler.v1/special-offers {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 
 :duct.module/ataraxy
 {"/v1"
  {"/systems" {["/ping" :get] [:systems/ping]}
   "/special-offers" {:get [:special-offer/get-special-offers]}}}}
